In [45]:
import pandas as pd
import numpy as np
import os
import ast

data_path = "./Data/processed_data.csv"
university_path = "./Data/University_ranking.csv"

In [46]:
univ_city = pd.DataFrame(pd.read_csv(university_path),columns=["Name","City","Country"])\
    .drop_duplicates()
univ_city.columns = ['university_name', 'City', 'Country']
univ_city = univ_city[univ_city.City !="-"]
univ_city = univ_city[univ_city["university_name"].duplicated()==False]

univ_info = pd.read_csv("./Data/universities_data.csv")
univ_info = univ_info[univ_info.year == 2015].drop(columns =["year"])
univ_info["university_name"] = univ_info.institution
univ_info = univ_info.drop(columns =["institution"])


masters = pd.read_csv(data_path).drop(columns=["Unnamed: 0"]).drop_duplicates()
masters.language = masters.language.apply(lambda x: x.split(", ") if not pd.isna(x) else np.nan)
masters_short = pd.DataFrame(masters, columns = ["program_name","program_type","university_name","program_url",
                      "tuition_1_EUR","duration_months"]).drop_duplicates()

In [47]:
masters_short = masters_short.rename(columns={'tuition_1_EUR':'tuition'})

In [48]:
masters_short.tuition = masters_short.tuition.round()

In [43]:
masters_short.replace(-1, np.nan, inplace=True)

In [3]:
merged_info = masters_short.merge(univ_info,on="university_name", how='inner')\
.merge(univ_city,on="university_name", how='left')

In [49]:
masters_short.head()

,program_name,program_type,university_name,program_url,tuition,duration_months
0,Economics,MSc,American University of Armenia,http://www.mastersportal.eu/studies/71101/econ...,6442.0,NaN
1,Political Science and International Affairs,Master,American University of Armenia,http://www.mastersportal.eu/studies/71085/poli...,6300.0,24.0
2,Business Administration,MBA,American University of Armenia,http://www.mastersportal.eu/studies/71102/busi...,7497.0,NaN
3,Computer and Information Science,MSc,American University of Armenia,http://www.mastersportal.eu/studies/71104/comp...,6300.0,24.0
4,Industrial Engineering and Systems Management,MEng,American University of Armenia,http://www.mastersportal.eu/studies/71103/indu...,6300.0,24.0

In [52]:
univ_info.head()

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,university_name
1200,1,USA,1,1,1,1,1,1,1,1.0,3,100.00,Harvard University
1201,2,USA,2,9,2,4,5,3,3,4.0,10,98.66,Stanford University
1202,3,USA,3,3,11,2,15,2,2,2.0,1,97.54,Massachusetts Institute of Technology
1203,4,United Kingdom,1,2,10,5,11,6,12,13.0,48,96.81,University of Cambridge
1204,5,United Kingdom,2,7,13,10,7,12,7,9.0,15,96.46,University of Oxford

In [68]:
merged_univ = univ_info.merge(univ_city,on="university_name",how="left")\
    .drop(columns=["Country"])

In [6]:
masters.facts.head()

Index(['country_name', 'country_code', 'university_name', 'university_rank',
       'program_name', 'program_type', 'deadline', 'duration', 'language',
       'tution_1_currency', 'tution_1_money', 'tution_1_type',
       'tution_2_currency', 'tution_2_money', 'tution_2_type',
       'tuition_price_specification', 'start_date', 'ielts_score', 'structure',
       'academic_req', 'facts', 'city', 'program_url', 'tuition_1_EUR',
       'duration_months'],
      dtype='object')

In [19]:
masters_short.columns

Index(['program_name', 'program_type', 'university_name', 'program_url',
       'tuition', 'duration_months'],
      dtype='object')

In [ ]:
masters_short.to

In [11]:
masters.structure[0]

"['Quantitative Methods for Economists (Mathematical Economics)', 'Econometrics 1 (Economic Statistics)', 'Microeconomic Theory', 'Macroeconomic Theory', 'Econometrics 2', 'Economic Research Seminar', 'Capstone: (3 credits completed during the Research Seminar course)', 'Econometrics and Forecasting', 'Labor Economics', 'Financial Economics', 'Health Economics', 'Statistics', 'Money, Banking and Monetary Policy', 'International Economics', 'Business Economics', 'Development Economics', 'Finance', 'Public Finance', 'Mathematics']"

In [20]:
masters_short.to_csv("./Data/masters_short.csv", index=False)

0    6442.0
1    6300.0
2    7497.0
Name: tuition, dtype: float64

In [ ]:
LOAD DATA INFILE '/home/javier/Universidad/Master/2º Semestre/Biological databases/Project/Data/masters_short.csv'
INTO TABLE master_degrees
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 ROWS
(program_name, program_type, @dummy, program_url, tuition, duration_months, structure)
SET university_name = @dummy;

LOAD DATA INFILE '/var/lib/mysql-files/masters_short.csv'
INTO TABLE master_degrees 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\n' 
IGNORE 1 ROWS 
(program_name, program_type, @university_name, program_url, tuition_1_EUR, @duration_months, structure) 
SET university_id = (SELECT id FROM universities WHERE university_name = @university_name), 
    duration_months = NULLIF(@duration_months, '');


LOAD DATA INFILE '/var/lib/mysql-files/masters_short.csv'
INTO TABLE your_table_name
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(program_name, program_type, university_name, program_url, tuition, duration_months, structure);